doctype html 
html 
    head
        meta(charset="UTF-8")
        title Контакты | Жилой комплекс "ЛДМ"
        link(rel="stylesheet",href="../styles/style.css")
        link(rel="stylesheet",href="../styles/fonts.css")
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        .container-fluid.header-container
            .row.d-flex.align-items-center.py-4
                .col-xl-3.d-flex.align-items-center
                    a.logo.mx-5(href="../pug/index.html")
                            img(src="../assets/logo.png",height="40")
                .col-xl-9
                    .row.px-5.d-flex.align-items-center 
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/index.html") О комплексе
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="#") Квартиры
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="#") Галерея
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="#") Документы
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="#") Контакты
    body
        .body-container
            .container-fluid 
                .row
                    .col-xl-6
                        .text-container
                            h2 Контакты
                            .container-fluid.contacts 
                                .row
                                    .col
                                        h3 Застройщик: 
                                        p АО "Компания"
                                        p Богатырский пр-кт., д. 1, корп. 1
                                        p +7 (812) 100-00-01
                                    .col
                                        h3 Отдел продаж:
                                        p АО "Компания"
                                        p ул. 2-я Советская улица, д. 7 
                                        p +7 (812) 100-00-02
                                .row.mt-5
                                    .col
                                        h3 Адрес объекта: 
                                        p Жилой комплекс "ЖК"
                                        p ул. Профессора Попова, д. 47
                                        p +7 (812) 100-00-03
                                    .col
                                        h3 Офис продаж: 
                                        p Жилой комплекс "ЖК-2"
                                        p Петровская коса, д. 6, корп. 1
                                        p +7 (812) 100-00-04
                            .container.mt-2
                                .row.mx-5
                                    .col.mx-5 
                                        .container-fluid.pt-3.pb-3.dom-approved
                                            .row
                                                .col-2.d-flex.justify-content-center
                                                    img(src="../assets/domrf.png",height="80").domlogo
                                                .col-10.align-items-center.pt-4
                                                    p ЖК проверен на наш.дом.рф

                    .col-xl-6.text-end
                        .map-container
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A72929069d16aeca5d10a1dd752570165bf1e821dcbc3b77f39f48d914698a911&amp;height=685&amp;lang=ru_RU&amp;scroll=true"></script>
    
    include ../pug/footer.pug