doctype html 
html 
    head
        meta(charset="UTF-8")
        title ЖК "ЛДМ" | Контакты
        link(rel="stylesheet",href="../styles/style.css")
        link(rel="stylesheet",href="../styles/fonts.css")
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        .container-fluid.header-container
            .row.d-flex.align-items-center.py-4
                .col-xl-3.d-flex.align-items-center
                    a.logo.mx-5(href="../pug/index.html")
                            img(src="../assets/logo.png",height="40")
                .col-xl-9
                    .row.px-5.d-flex.align-items-center 
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/index.html") О комплексе
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="#") Квартиры
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="#") Галерея
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="#") Документы
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="#") Контакты
    body
        .body-container
            .container-fluid 
                .row 
                    .col-xl-6
                        .text-container
                            h2 Контакты
                            p Застройщик 
                            p АО "ГК "Эталон"
                            p Богатырский пр-кт., 3, корп. 3
                            p +7 (812) 001-11-11
                    .col-xl-6.text-end
                        .map-container
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A72929069d16aeca5d10a1dd752570165bf1e821dcbc3b77f39f48d914698a911&amp;width=879&amp;height=685&amp;lang=ru_RU&amp;scroll=true"></script>
    
    include ../pug/footer.pug