footer
        .container-fluid.footer-container
            .row.mx-2.pt-4
                .col-xl-3.px-5.mt-3.mb-3
                    h1 © ГК "Эталон", 2025
                    a.footer-link.text-white(href="#") Персональные данные
                    br
                    br
                    a.footer-link.text-white(href="#") Пользовательское соглашение
                    br
                    br
                    a.footer-link.text-white(href="#") Противодействие коррупции 
                .col-xl-6.px-5.mt-3.mb-3
                    p Разработка веб-сайта выполнена в образовательных целях и не преследует цели исказить или иным образом представить информацию о действующих объектах АО "ГК "Эталон"
                    p Вся информация взята из открытых источников. Не является публичной офертой, определяемой положениями статьи 437 ГК РФ 
                    p Все материалы, в том числе изображения, размещаемые на сайте, принадлежат АО "ГК "Эталон".
                .col-xl-3.px-5.mt-3.mb-3
                    h1 Контакты
                    p +7 (777) 777-77-77
                    p.semitransparent Контакт-центр в Санкт-Петербурге
                    h1 Социальные сети
                    .row 
                        .col 
                            p VK 
                        .col 
                            p TG 
                        .col 
                            p DZ 