doctype html 
html 
    head
        meta(charset="UTF-8")
        title Галерея | Жилой комплекс "ЛДМ"
        link(rel="stylesheet",href="../styles/style.css")
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384..." crossorigin="anonymous"></script>

        .container-fluid.header-container
            .row.d-flex.align-items-center.py-4
                .col-xl-3.d-flex.align-items-center
                    a.logo.mx-5(href="../pug/index.html")
                            img(src="../assets/logo.png",height="40")
                .col-xl-9
                    .row.px-5.d-flex.align-items-center 
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/index.html") О комплексе
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/flatlist.html") Квартиры
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="#") Галерея
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/documents.html") Документы
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/contacts.html") Контакты
    body
        .body-container
            .container-fluid 
                .row
                    .col-xl
                        .text-container
                            h2 Галерея
                            .row.mt-5
                                #feedbackCarousel.carousel.slide(data-bs-ride="carousel").mt-5
                                    .carousel-inner.mb-3
                                        .carousel-item.active.pb-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-75.mb-4(src="../assets/gallery/entrances/entrance1.png")
                                        .carousel-item.pb-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-75.mb-4(src="../assets/gallery/entrances/entrance2.png")
                                        .carousel-item.pb-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-75.mb-4(src="../assets/gallery/entrances/entrance3.png")
                                    ol.carousel-indicators.mt-5.ml-5
                                        li(data-bs-target="#feedbackCarousel" data-bs-slide-to="0" class="active")
                                        li(data-bs-target="#feedbackCarousel" data-bs-slide-to="1")
                                        li(data-bs-target="#feedbackCarousel" data-bs-slide-to="2")
                                h3.photo-sign Входные группы
                                
                            .row.mt-5
                                #feedbackCarousel.carousel.slide(data-bs-ride="carousel").mt-5
                                    .carousel-inner.mb-3
                                        .carousel-item.active.pb-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-75.mb-4(src="../assets/gallery/entrances/entrance1.jpg")
                                        .carousel-item.pb-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-75.mb-4(src="../assets/gallery/entrances/entrance1.jpg")
                                        .carousel-item.pb-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-75.mb-4(src="../assets/gallery/entrances/entrance1.jpg")
                                    ol.carousel-indicators.mt-5.ml-5
                                        li(data-bs-target="#feedbackCarousel" data-bs-slide-to="0" class="active")
                                        li(data-bs-target="#feedbackCarousel" data-bs-slide-to="1")
                                        li(data-bs-target="#feedbackCarousel" data-bs-slide-to="2")
                                h3.photo-sign Интерьеры
                                
                            .row.mt-5
                                #feedbackCarousel.carousel.slide(data-bs-ride="carousel").mt-5
                                    .carousel-inner.mb-3
                                        .carousel-item.active.pb-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-75.mb-4(src="../assets/gallery/entrances/entrance1.jpg")
                                        .carousel-item.pb-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-75.mb-4(src="../assets/gallery/entrances/entrance1.jpg")
                                        .carousel-item.pb-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-75.mb-4(src="../assets/gallery/entrances/entrance1.jpg")
                                    ol.carousel-indicators.mt-5.ml-5
                                        li(data-bs-target="#feedbackCarousel" data-bs-slide-to="0" class="active")
                                        li(data-bs-target="#feedbackCarousel" data-bs-slide-to="1")
                                        li(data-bs-target="#feedbackCarousel" data-bs-slide-to="2")
                                h3.photo-sign Внешнее убранство

    include ../pug/footer.pug