doctype html 
html 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Галерея | Жилой комплекс "ЛДМ"
        link(rel="stylesheet", href="../styles/style.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css")
    body
        .container-fluid.header-container.py-3
            .d-flex.align-items-center
                .col-xl-3.my-xl-3.px-xl-5.d-flex.align-items-center
                    img.mx-md-5.ms-md-0.ms-5.ps-3.w-xl-50(src="../assets/logo.png",height="40")
                    button.navbar-toggler.d-md-none.ms-3(type="button", data-bs-toggle="offcanvas", data-bs-target="#offcanvasMenu", aria-controls="offcanvasMenu")
                        span.navbar-toggler-icon
                .col-xl-9
                    .d-none.d-md-flex.gap-4.align-items-center
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/index.html") О комплексе
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/flatlist.html") Квартиры
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/gallery.html") Галерея
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/documents.html") Документы
                        .col-xl.d-flex.justify-content-center
                            a.nav-link.text-white(href="../pug/contacts.html") Контакты

        .offcanvas.offcanvas-end.bg-dark.text-white#offcanvasMenu()
            .offcanvas-header.mt-2.ms-3.d-flex.justify-content-center.align-items-center
                h5 ЖК "ЛДМ"
                button.btn-close.btn-close-white.pe-5(type="button", data-bs-dismiss="offcanvas", aria-label="Закрыть")
            .offcanvas-body.ms-3
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link.text-white(href="../pug/index.html") О комплексе
                    li.nav-item
                        a.nav-link.text-white(href="../pug/flatlist.html") Квартиры
                    li.nav-item
                        a.nav-link.text-white(href="../pug/gallery.html") Галерея
                    li.nav-item
                        a.nav-link.text-white(href="../pug/documents.html") Документы
                    li.nav-item
                        a.nav-link.text-white(href="../pug/contacts.html") Контакты
        .body-container
            .container-fluid 
                .row
                    .col-xl
                        .text-container
                            h2 Галерея
                            .row.mt-lg-5
                                #entrancesCarousel.carousel.slide(data-bs-ride="carousel").mt-lg-5
                                    .carousel-inner.mb-lg-3
                                        .carousel-item.active.pb-lg-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-lg-75.mb-4(src="../assets/gallery/entrances/entrance1.png")
                                        .carousel-item.pb-lg-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-lg-75.mb-4(src="../assets/gallery/entrances/entrance2.png")
                                        .carousel-item.pb-lg-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-lg-75.mb-4(src="../assets/gallery/entrances/entrance3.png")
                                    .carousel-indicators.mt-5.ml-5.d-none.d-lg-flex
                                        li(data-bs-target="#entrancesCarousel" data-bs-slide-to="0" class="active")
                                        li(data-bs-target="#entrancesCarousel" data-bs-slide-to="1")
                                        li(data-bs-target="#entrancesCarousel" data-bs-slide-to="2")
                                h3.photo-sign.d-none.d-lg-block Входные группы
                                p.photo-sign.d-lg-none Входные группы
                                
                            .row.mt-lg-5.mt-2
                                #interiorCarousel.carousel.slide(data-bs-ride="carousel").mt-lg-5
                                    .carousel-inner.mb-lg-3
                                        .carousel-item.active.pb-lg-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-lg-75.mb-4(src="../assets/gallery/interior/interior1.png")
                                        .carousel-item.pb-lg-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-lg-75.mb-4(src="../assets/gallery/interior/interior2.png")
                                        .carousel-item.pb-lg-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-lg-75.mb-4(src="../assets/gallery/interior/interior3.png")
                                    .carousel-indicators.mt-5.ml-5.d-none.d-lg-flex
                                        li(data-bs-target="#interiorCarousel" data-bs-slide-to="0" class="active")
                                        li(data-bs-target="#interiorCarousel" data-bs-slide-to="1")
                                        li(data-bs-target="#interiorCarousel" data-bs-slide-to="2")
                                h3.photo-sign.d-none.d-lg-block Интерьеры
                                p.photo-sign.d-lg-none Интерьеры
                                
                            .row.mt-lg-5.mt-2
                                #exteriorCarousel.carousel.slide(data-bs-ride="carousel").mt-lg-5
                                    .carousel-inner.mb-lg-3
                                        .carousel-item.active.pb-lg-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-lg-75.mb-4(src="../assets/gallery/exterior/exterior1.png")
                                        .carousel-item.pb-lg-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-lg-75.mb-4(src="../assets/gallery/exterior/exterior2.png")
                                        .carousel-item.pb-lg-5
                                            .d-flex.flex-column.align-items-center
                                                img.img-fluid.w-lg-75.mb-4(src="../assets/gallery/exterior/exterior3.png")
                                    .carousel-indicators.mt-5.ml-5.d-none.d-lg-flex
                                        li(data-bs-target="#exteriorCarousel" data-bs-slide-to="0" class="active")
                                        li(data-bs-target="#exteriorCarousel" data-bs-slide-to="1")
                                        li(data-bs-target="#exteriorCarousel" data-bs-slide-to="2")
                                h3.photo-sign.d-none.d-lg-block Внешнее убранство
                                p.photo-sign.d-lg-none Внешнее убранство
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
    include ../pug/footer.pug