doctype html 
html 
    head
        meta(charset="UTF-8")
        title ЖК "ЛДМ"
        link(rel="stylesheet",href="../styles/style.css")
        link(rel="stylesheet",href="../styles/fonts.css")
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        //.header-container
                .row-align-items-right
                    .d-flex.justify-content-between.trees 
                        a.logo(href="index.html")
                            img(src="/assets/logo.png",height="40")
                        nav.trees 
                            ul.nav 
                                li.nav-item 
                                    a.nav-link.text-white(href="#") О комплексе
                                li.nav-item 
                                    a.nav-link.text-white(href="#") Квартиры
                                li.nav-item 
                                    a.nav-link.text-white(href="#") Галерея
                                li.nav-item 
                                    a.nav-link.text-white(href="#") Документы
                                li.nav-item 
                                    a.nav-link.text-white(href="contacts.html") Контакты
    body
        .body-container
            //.background-container
                .title
                    h1 ЖК "ЛДМ"
            .container-fluid 
                .row 
                    .col-12.bg-cover 
                        h1 ЖК "ЛДМ"
                .row 
                    .col-xl-6
                        .text-container
                            h2 О проекте
                            p Вершина премиальной жизни в Петербурге.
                            p ЛДМ - эксклюзивный проект премиум-класса, который реализуется на Аптекарском острове Петроградской стороны в окружении знаковых мест отдыха, культуры и образования.
                            P Комплекс состоит из 7 многоквартирных корпусов высотой 9-10 этажей, сити-вилл, коммерческих и общественных пространств.
                            .d-flex.justify-content-center
                                button.btn.btn-primary Скачать презентацию
                    .col-xl-6.text-end
                        .text-container
                            img.img-fluid(src="../assets/about1.png")
                .row 
                    .col-xl-6.order-2.order-xl-1
                        .text-container 
                            img.img-fluid(src="../assets/about2.png")
                    .col-xl-6.text-end.order-1.order-xl-2 
                        .text-container 
                            h2 Квартирография
                            p Эксклюзивная коллекция квартир. Многообразие форматов и планировочных решений.
                            p Широкий выбор комнатности и площадей: от 1-комнатных 41,9 м2 до 5-комнатных квартир 173,9 м2. Проектом предусмотрены лоты с видом на Малую Невку, Крестовский остров и живописную панораму исторического района, видовые квартиры с угловым остеклением, увеличенными и панорамными окнами, а также с домашним кинотеатром и мини-спортзалом.
                            .d-flex.justify-content-center
                                button.btn.btn-primary Выбрать квартиру
                .row 
                    .col-xl-6
                        .text-container
                            h2 Остались вопросы?
                            .d-flex.justify-content-center
                                button.btn.btn-primary Скачать презентацию
                    .col-xl-6.text-end
                        .text-container
                            img.img-fluid(src="../assets/about1.png")
    footer 
        .footer-container 
            p Footer