doctype html 
html 
    head
        meta(charset="UTF-8")
        title ЖК "ЛДМ"
        link(rel="stylesheet",href="/styles/style.css")
    body
        .background-container
            .title
                h1 ЖК "ЛДМ"
        .about-container 
            .row
                .column-left 
                    h2 О проекте
                    p 
                        |Вершина премиальной жизни в Петербурге.'\n\n'
                        |ЛДМ - эксклюзивный проект премиум-класса, который реализуется на Аптекарском острове Петроградской стороны в окружении знаковых мест отдыха, культуры и образования.'\n'
                        |Комплекс состоит из 7 многоквартирных корпусов высотой 9-10 этажей, сити-вилл, коммерческих и общественных пространств.
                    button.btn Скачать презентацию
                .column-right
                    img(src="/assets/about1.png",alt="A")
            .row
                .column-left 
                    p Фото
                .column-right 
                    h2 Квартирография
            .row 
                .column-left 
                    h2 Остались вопросы?
                .column-right 
                    p Фото
    footer 
        .footer-container 
            p Footer