@font-face {
    font-family: 'TTCommons';
    src: url('../assets/fonts/TTCommons-DemiBold.ttf')format('truetype');
    font-style: demibold !important;
    font-weight: 700 !important;
}
@font-face {
    font-family: 'TTCommons';
    src: url('../assets/fonts/TTCommons-Light.ttf')format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'TTCommons';
    src: url('../assets/fonts/TTCommons-Medium.ttf')format('truetype');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'Destina';
    src: url('../assets/fonts/Destina.ttf')format('truetype');
}
@font-face {
    font-family: 'Actinia';
    src: url('../assets/fonts/Actinia-Regular.otf')format('truetype');
}
@font-face {
    font-family: 'TikTok-Sans';
    src: url('../assets/fonts/TikTokSans-VF-v3.3.ttf')format('truetype');
    font-weight: 300;
}