@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
html, body, head {
  background-color: #181818 !important;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  background-color: #131313;
  left: 0;
}
.header-container.trees {
  background-color: rgba(0, 0, 0, 0.2509803922);
  position: fixed;
}
.header-container a {
  font-family: "TikTok-Sans" !important;
  font-size: clamp(18px, 2vw, 24px) !important;
  font-weight: 300;
}

.body-container .row {
  background-color: transparent !important;
}
.body-container .row .text-container, .body-container .row .map-container {
  padding: 40px;
}
.body-container .row .dom-approved {
  background-color: #e1f6d9 !important;
  border-radius: 10px;
  width: 27vw;
}
.body-container .row .dom-approved p {
  color: black !important;
  font-family: "TTCommons";
  font-weight: 500 !important;
  font-size: clamp(18px, 2vw, 32px) !important;
  line-height: 1em;
  color: #FFFFFF;
}
.body-container .row .dom-approved .domlogo {
  background-color: #97c355;
  border-radius: 5px;
}
.body-container .row .contacts h3 {
  font-family: "TTCommons";
  font-weight: 500;
  font-size: clamp(18px, 2vw, 72px);
  line-height: 1.3em;
  color: #FFFFFF;
}
.body-container .row .contacts p {
  font-family: "TTCommons";
  font-weight: 300;
  font-size: clamp(18px, 2vw, 24px) !important;
  line-height: 1em;
  color: #FFFFFF;
}
.body-container .row h2 {
  font-family: "TTCommons";
  font-weight: 500;
  font-size: clamp(36px, 5vw, 144px);
  color: #FFFFFF;
}
.body-container .row p {
  font-family: "TTCommons";
  font-weight: 300;
  font-size: clamp(18px, 2vw, 72px) !important;
  line-height: 1.3em;
  color: #FFFFFF;
}
.body-container .bg-cover {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 5vh;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.body-container .bg-cover h1 {
  font-family: "Actinia";
  position: relative;
  color: #FFFFFF;
  font-size: clamp(60px, 8vw, 140px);
  letter-spacing: -0.05em;
  margin-top: 72vh;
  text-shadow: 5px 5px 20px black;
  z-index: 3;
}
.body-container .bg-cover h3 {
  font-family: "Destina";
  position: relative;
  color: #dbae6a;
  font-size: clamp(36px, 8vw, 100px);
  margin-top: -8vh;
  text-shadow: 5px 5px 20px black;
  z-index: 1;
}

.footer-container {
  background-color: #252525 !important;
}
.footer-container h1 {
  font-family: "TTCommons" !important;
  font-size: clamp(16px, 2vw, 28px) !important;
  font-weight: 500;
  color: white;
}
.footer-container p {
  font-family: "TikTok-Sans" !important;
  font-size: clamp(16px, 2vw, 16px) !important;
  font-weight: 500;
  color: white;
}
.footer-container .footer-link {
  font-family: "TikTok-Sans" !important;
  font-size: clamp(16px, 2vw, 16px) !important;
  font-weight: 500;
  color: white;
}

.btn-primary {
  font-family: "TikTok-Sans";
  background-color: #dbae6a !important;
  border-color: #dbae6a !important;
  font-family: "TikTok-Sans" !important;
  font-size: clamp(18px, 2vw, 72px) !important;
}/*# sourceMappingURL=style.css.map */