$main-color: #1e1e1e;
$accent-color: #be9559;
$text-color: #FFFFFF;
$hover-color: #dfb981;
$background-color:#181818;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}
.body-container{
    background-color: $background-color;
    h2{
        font-family: 'TTCommons';
        font-style: demibold;
        font-size: clamp(40px,5vw,120px);
        color: #FFFFFF;
    }
    p{
        font-family: 'TTCommons';
        font-style: light;
        color:#FFFFFF;
        font-size: clamp(20px,2vw,60px);
    }
}
@font-face {
    font-family: 'TTCommons';
    src: url(../assets/TTCommons-DemiBold.ttf)format('truetype');
    font-style: demibold !important;
    font-weight: 700 !important;
}
@font-face {
    font-family: 'TTCommons';
    src: url(../assets/TTCommons-Light.ttf)format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'TTCommons';
    src: url(../assets/TTCommons-Medium.ttf)format('truetype');
    font-weight: 500;
    font-style: medium;
}
.background-container{
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height:100vh;
}

.title{
    h1{
        margin-left:80px;
        font-family: 'TTCommons';
        font-style: demibold;
        font-size: clamp(20px,5vw,120px);
        color: #FFFFFF;
    }
}
.container{
    background-color: $background-color;
    h2{
        font-family: 'TTCommons';
        font-style: demibold;
        font-size: clamp(40px,5vw,120px);
        color: #FFFFFF;
    }
    p{
        font-family: 'TTCommons';
        font-style: light;
        font-weight:300;
        color:#FFFFFF;
        font-size: clamp(20px,2vw,40px);
    }
}
.about-container{
    background-color: $background-color;
    display:flex !important;
    flex-direction: column !important;
    gap:80px;
    padding:80px;
    .btn{
        display: block;
        background-color:$accent-color;
        color:$text-color;
        font-family: 'TTCommons';
        font-style:light;
        cursor: pointer;
        &:hover{
            background-color: $hover-color;
        }
    }
    h2{
        font-family: 'TTCommons';
        font-style: demibold;
        font-size: clamp(40px,5vw,120px);
        color: #FFFFFF;
    }
    p{
        font-family: 'TTCommons';
        font-style: light;
        color:#FFFFFF;
        font-size: clamp(20px,2vw,60px);
    }
    .cont-row{
        display:flex ;
        gap:20px;
        .column-left{
            background-color: $background-color;
            flex:1;
        }
        .column-right{
            justify-content: center;
            h2{
                text-align: right;
            }
            p{
                text-align: right;
            }
            background-color: $background-color;
        }
    }
    .image{
        width:100px;
        height:50px;
        overflow: hidden;
        object-fit: cover;
        display: block;
    }
    @media (max-width:768px) {
        gap:40px;
        padding:40px;
        .row{
            flex-direction: column;
        }
    }
}

.footer-container{
    background-color: #1e1e1e;
}
.header-container{
    background-color: $background-color;
    top: 0;
    left: 0;
    width: 100%;
    .trees{
        margin-left: 3vw;
        margin-right: 10vw;
    }
    .logo{
        margin: 2.083vw;
    }
    .nav-link {
        margin: 2.083vw;
        font-size: clamp(24px,5vw,24px);
        font-family: 'TTCommons';
        font-weight: 500;
        &:hover {
          color: $hover-color;
        }
    }
}
